# Database
DATABASE_URL=postgresql://<username>:<password>@<host>:<ip>/<db>

# Chroma
CHROMA_URL=http://10.190.2.3:8003 

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production

# LLM
LANGSMITH_API_KEY=your_app_key
LANGCHAIN_TRACING_V2=true